# Ignore CSV files
*.csv

# Ignore directories
chroma/
Embeddings/
volumes/
asset/

# Ignore specific files
nomic-embed-text_Backup_vault.json
output.mp3
output1.wav
semantic_vault.json
vault.json
vault.txt

# Ignore environment files
.env

# Ignore Python script
Vault_json_creation_from_HTMLs.py
