beautifulsoup4
chromadb
edge-tts
gTTS
groq
lxml
matplotlib
nest_asyncio
networkx
nltk
numpy
ollama
openai
pandas
plotly
PyPDF2
pydub
pymilvus
PyQt5
python-dotenv
pyttsx3
pyvis
PyYAML
rank_bm25
requests
SpeechRecognition
streamlit
tiktoken
torch
tqdm
watchdog
wordcloud
